.App {
  margin: 50px 0 0 0;
}
.App h1,
h2 {
  text-align: center;
  color: white;
}

.App h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

.App h2 {
  font-size: 1.2rem;
  font-weight: 100;
  width: 80%;
  margin: 0.5rem auto;
}

.Container {
  max-width: 300px;
  margin: 3rem auto;
}
