body {
  background: linear-gradient(
    171deg,
    rgba(51, 53, 205, 1) 0%,
    rgba(104, 130, 211, 1) 70%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.Container {
  margin: 3rem auto;

  @include respond-to-max($desktop) {
    max-width: 90%;
  }
}
